// Colors
$grey: #dddddd;

// Spacing
$space: 1.4rem;

// Font Sizes
$base-font-size: 1.6rem;

// Form Inputs
$input-border: $grey;

// Boxed View
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
